
@{
    ViewBag.Title = "Registration";
}

@model Entities.ViewModels.RegistrationViewModel

<section class="background-radial-gradient overflow-hidden">

    <div class="container px-5 px-md-5 text-center text-lg-start mb-0" style="margin-top:200px">
        <div class="row gx-lg-5 mr-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Demo Project <br />
                    <span style="color: hsl(218, 81%, 75%)">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos? Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                </p>
            </div>

            <!-- Form div -->
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        @using (Html.BeginForm("Registration", "Account", FormMethod.Post))
                        {
                            @*<form method="post" asp-controller="Account" asp-action="Registration">*@
                            <!-- 2 column grid layout -->
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="form-outline">
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @type = "text" })
                                        <label class="form-label" for="form3Example1">First name</label>
                                    </div>
                                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="form-outline">
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @type = "text" })
                                        <label class="form-label" for="form3Example2">Last name</label>
                                    </div>
                                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <span class="text-danger">@TempData["Error"]</span>
                            <!-- Email input -->
                            <div class="form-outline">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control mt-4", @type = "email" })
                                <label class="form-label" for="form3Example3">Email address</label>
                            </div>
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })

                            <!-- Password input -->
                            <div class="form-outline">
                                @Html.TextBoxFor(x => x.PasswordHash, new { @class = "form-control mt-4", @type = "password" })
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>
                            @Html.ValidationMessageFor(x => x.PasswordHash, "", new { @class = "text-danger" })

                            <!-- Confirm Password input -->
                            <div class="form-outline mb-4">
                                @Html.TextBoxFor(x => x.ConfirmPasswordHash, new { @class = "form-control mt-4", @type = "password" })
                                <label class="form-label" for="form3Example4">Confirm Password</label>
                            </div>
                            @Html.ValidationMessageFor(x => x.ConfirmPasswordHash, "", new { @class = "text-danger" })
                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4 mt-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                <label class="form-check-label" for="form2Example33">
                                    Subscribe to our newsletter
                                </label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>

                            <!-- Register buttons -->
                    <div class="text-center">
                        
                        <p>Already have an Accont? <span>@Html.ActionLink("Sign In", "Login", "Account", new { area = "" }, new { @class = "text-primary" })</span></p>
                        <!-- Sign In Link -->
                        <p>or sign in with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="bi bi-facebook fs-3"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="bi bi-google fs-3"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="bi bi-twitter fs-3"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="bi bi-github fs-3 "></i>
                        </button>
                    </div>

                            @*</form>*@
                        }

                    </div>
                </div>
            </div>
            <!-- Form div -->
        </div>
    </div>
</section>



